@typeparam TItem
@inherits SelectComponent<TItem>

<style>
    .defaultDataGrid table, th, td {
        border: 1px solid black;
    }

    .defaultRowStyle:hover {
        /*#0093FF #EB00FF #FF6C00 #14FF00 */
        background-color: #0093ff;
    }

    .defaultSelectedRowStyle {
        /*#0093FF #0014FF #00FFEB*/
        background-color: #0014FF;
        color: white;
    }

        .defaultSelectedRowStyle:hover {
            /*#0093FF #0014FF #00FFEB*/
            background-color: #0093FF;
        }
</style>

<table class="defaultDataGrid">
    <thead>
        <tr>
            @if (Columns.Any())
            {
                foreach (var column in Columns)
                {
                    <th width="@column.Width">
                        @if (HeaderTemplate is null)
                        {
                            @column.GetActualHeader(IsSplitCamelCaseWithSpace);
                        }
                        else
                        {
                            @: @HeaderTemplate(column.GetActualHeader(IsSplitCamelCaseWithSpace))
                        }
                    </th>
                }
            }
            else
            {
                foreach (var header in GetAutoHeaders())
                {
                    <th>
                        @if (HeaderTemplate is null)
                        {
                            @header
                        }
                        else
                        {
                            @: @HeaderTemplate(header)
                        }
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ItemsSource)
        {
            if (RowTemplate is null)
            {
                <tr @onclick="x => SelectedItem = item" class="@GetRowClass(item)">
                    @if (Columns.Any())
                    {
                        foreach (var column in Columns)
                        {
                            <td width="@column.Width">
                                @if (ItemTemplate is null)
                                {
                                    @column.GetValue(item)
                                }
                                else
                                {
                                    @: @ItemTemplate(item)
                                }
                            </td>
                        }
                    }
                    else
                    {
                        foreach (var value in GetAutoValues(item))
                        {
                            <td>
                                @if (ItemTemplate is null)
                                {
                                    @value
                                }
                                else
                                {
                                    @: @ItemTemplate(item)
                                }
                            </td>
                        }
                    }
                </tr>
            }
            else
            {
                <tr @onclick="x => SelectedItem = item" class="@GetRowClass(item)">
                    @RowTemplate(item)
                </tr>
            }
        }
    </tbody>
    @if (FooterTemplate is not null)
    {
        <tfoot>
            <tr>
                @FooterTemplate
            </tr>
        </tfoot>
    }
</table>

@code {
    public const string DefaultRowStyle = "defaultRowStyle";
    public const string DefaultSelectedRowStyle = "defaultSelectedRowStyle";
    protected readonly IDictionary<string, string> columns = new Dictionary<string, string>();

    [Parameter] public IEnumerable<Column<TItem>> Columns { get; set; } = Enumerable.Empty<Column<TItem>>();
    [Parameter] public RenderFragment<string> HeaderTemplate { get; set; }
    [Parameter] public RenderFragment FooterTemplate { get; set; }
    [Parameter] public string RowStyle { get; set; } = DefaultRowStyle;
    [Parameter] public string SelectedRowStyle { get; set; } = DefaultSelectedRowStyle;
    [Parameter] public bool IsSplitCamelCaseWithSpace { get; set; } = true;

    /// <summary>
    /// The template for a table row. You should wrap your template inside <tr>..</tr>
    /// </summary>
    [Parameter] public RenderFragment<TItem> RowTemplate { get; set; }

    protected IEnumerable<string> GetAutoHeaders()
    {
        var properties = typeof(TItem).GetProperties();
        foreach (var propertyName in properties.Select(x => IsSplitCamelCaseWithSpace ? x.Name.SplitCamelCase() : x.Name))
        {
            yield return propertyName;
        }
    }

    protected IEnumerable<string> GetAutoValues(TItem t)
    {
        var properties = typeof(TItem).GetProperties();
        foreach (var propertyName in properties)
        {
            yield return propertyName.GetValue(t)?.ToString() ?? string.Empty;
        }
    }

    private string GetRowClass(TItem item)
    {
        var isItemSelected = SelectedItem?.Equals(item) ?? false;
        return isItemSelected ? SelectedRowStyle : RowStyle;
    }
}