@typeparam TItem
@inherits SelectComponent<TItem>

<select name="@Name" class="@SelectClass" @onchange="OnChange" size="@dictionaryItems.Count">
    @if (HasDefaultOption)
    {
        <option selected value="-1">@OptionText</option>
    }

    @foreach (var dictionaryItem in dictionaryItems)
    {
        if (ChildContent is null)
        {
            <ComboBoxDefaultItemTemplate TItem="TItem" KeyValuePair="@dictionaryItem" />
        }
        else
        {
            <option class="@OptionClass" value="@dictionaryItem.Key">@ChildContent(dictionaryItem.Value)</option>
        }
    }
</select>