@page "/"
@using G3BlazorComponents.Sandbox.Models;
@using G3BlazorComponents.Sandbox.ViewModels;
@using G3BlazorComponents.BaseComponents.Templates;
@inject PersonsViewModel PersonsViewModel

<DataGrid DataSource=PersonsViewModel.Persons>
    <HeadRowTemplate>
        <th>Full Name</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Address 1</th>
        <th>State</th>
    </HeadRowTemplate>
    <RowTemplate>
        <td>@context.FirstName @context.LastName</td>
        <td>@context.Phone</td>
        <td>@context.Age</td>
        <td>@context.Address.Address1</td>
        <td>@context.Address.State</td>
    </RowTemplate>
    <FooterTemplate>
        <td colspan="5">This is the footer</td>
    </FooterTemplate>
</DataGrid>